.stack{
  padding: var(--space-sm) 0;
}
.stack > * + *{
  margin-top: var(--stack-space, 1rem);
}

.title{
  font-size: var(--heading1);
}
.dateBox{
  --stack-space: 0.2rem;
  font-size: var(--small-heading3);
  color: var(--gray-50);
}
