.stack{
  display: flex;
  flex-direction: column;
}

.post h2{
  font-size: var(--small-heading2);
  font-weight: 400;
  text-decoration: underline;
  flex: 3;
}
.post figure{
  position: relative;
  /* aspect-ratio: 16/9; */
  flex: 2;
}
.post > * {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  padding: 30px;
}
