.stack{
  display: flex;
  flex-direction: column;
}

.post h2{
  font-size: var(--heading3);
  font-weight: 400;
  text-decoration: underline;
  text-align: center;
  flex: 3;
}
.post figure{
  position: relative;
  flex: 2;
}
.post > * {
  display: flex;
  align-items: center;
  margin: 3rem;
  padding: 1rem;
  background-color: var(--gray-10);
  border-radius: 10px;
}
